# PostgreSQL connection string
DATABASE_URL=
DATABASE_URL_POOLED=

# Neon Object Storage (AWS S3-compatible)
AWS_ENDPOINT_URL_S3=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# Production Live Server API URL (e.g. https://your-app.onrender.com)
VITE_API_URL=
