# Node dependencies
node_modules/
dist/

# Environment files
.env
.env.local

# IDE & Editor files
.idea/
*.iml

# Android & Gradle
.gradle/
build/
local.properties
/captures
.externalNativeBuild
.cxx
android/app/build/
android/.gradle/

# OS metadata
.DS_Store
Thumbs.db
